html
  head
    meta(name="viewport" value="utf-8")
    title= postTitle + "- Quickl"
    link(rel="amphtml" href="https://quickl.io/" + postSlug + "/amp")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/css/base.css")
  body
    header#header
      h2
        a(href="/") Quickl
    #content
      img(class="featured-image" src=postImage)
      h1= postTitle
      != postContent
    footer#footer
      a(class="highlight" href="https://github.com/NathanHeffley" target="_blank") Nathan Heffley
