html
  head
    meta(name="viewport" value="utf-8")
    title= Quickl
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/css/base.css")
  body
    header#header
      h2
        a(href="/" class="content-link") Quickl
    #content
      h1= postTitle
      != postContent
    footer#footer
      a(class="highlight" href="https://github.com/NathanHeffley" target="_blank") Nathan Heffley
